* {
    margin: 0px;
    padding: 0px; 
}

.txt__center{
  align-items: center;
  text-align: center;
  justify-content: center;
  display: block;
}

.bkground{
    background-image: url(images/fondo2.jpg);
    background-size: cover; 
}

.img__size{
    width: 30vh;
}

.fsize{
    font-size: larger;
}

.font__title{
    font-size: 3rem;
    background-image: url(images/fondoImgPrincipal.jpg);
    color:beige
}
.margypad{
    margin: 10px;
    pad: 10px;
}